{{ define "footer" }}

    <footer class="text-center text-lg-start bg-dark text-muted">
        <div class="row py-md-2">
            <div class="col px-md-3">
            &copy; Johannes Kuhfuss, 2023
            </div>

            <div class="col">
            </div>

            <div class="col">
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


    {{block "js" .}}

    {{end}}

    <script>
      function submitForm(button_id) {
        var http = new XMLHttpRequest();
        http.open("POST", "/switch", true);
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var params = "xpoint=" + button_id
        http.send(params);
        }
    </script>

    </body>

    </html>
{{ end }}