{{ define "status.page.tmpl" }}

{{ template "header" .}}

   <div class="container">
        <div class="row">
            <div class="col">
                <h1>Radio Status Service - Configuration Data</h1>
                <h2>Stream Scraping</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stream Scraping URL</td>
                            <td>{{ .configdata.StreamScrapeUrl }}</td>
                        </tr>
                        <tr>
                            <td>Stream Scraping Interval (sec)</td>
                            <td>{{ .configdata.StreamScrapeIntervalSec }}</td>
                        </tr>
                        <tr>
                            <td>Stream Scraping Count Since Start</td>
                            <td>{{ .configdata.StreamScrapeCount }}</td>
                        </tr>
                        </tbody>
                </table>
                <h2>Stream Volume Detecion</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Stream Volume Detection URL</td>
                            <td>{{ .configdata.StreamVolDetectionUrl }}</td>
                        </tr>
                        <tr>
                            <td>Stream Volume Detection Interval (sec)</td>
                            <td>{{ .configdata.StreamVolDetectionIntervalSec }}</td>
                        </tr>
                        <tr>
                            <td>Stream Volume Detection Duration (sec)</td>
                            <td>{{ .configdata.StreamVolDetectionDuration }}</td>
                        </tr>
                        <tr>
                            <td>Stream Volume Detection Count Since Start</td>
                            <td>{{ .configdata.StreamVolDetectionCount }}</td>
                        </tr>
                        <tr>
                            <td>Stream Volume in dB</td>
                            <td>{{ .configdata.StreamVolume }}</td>
                        </tr>
                        </tbody>
                </table>
                <h2>GPIOs</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Url</td>
                            <td>{{ .configdata.GpioUrl }}</td>
                        </tr>
                        <tr>
                            <td>GPIO Polling Interval (sec)</td>
                            <td>{{ .configdata.GpioPollIntervalSec }}</td>
                        </tr>
                        {{ range .configdata.GpioPins }}
                        <tr>
                          <td> {{ .Name }} ({{ .Id }}) </td>
                          <td> {{ .State }} </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <h2>Server</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Host</td>
                            <td>{{ .configdata.ServerHost }}</td>
                        </tr>
                        <tr>
                            <td>Port</td>
                            <td>{{ .configdata.ServerPort }}</td>
                        </tr>
                        <tr>
                            <td>TLS Port</td>
                            <td>{{ .configdata.ServerTlsPort }}</td>
                        </tr>
                        <tr>
                            <td>Graceful Shutdown Time</td>
                            <td>{{ .configdata.ServerGracefulShutdownTime }}</td>
                        </tr>
                        <tr>
                            <td>Use TLS</td>
                            <td>{{ .configdata.ServerUseTls }}</td>
                        </tr>
                        <tr>
                            <td>Certificate File</td>
                            <td>{{ .configdata.ServerCertFile }}</td>
                        </tr>
                        <tr>
                            <td>Key File</td>
                            <td>{{ .configdata.ServerKeyFile }}</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Miscellaneous</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                        <th scope="col" style="width: 50%">Variable</th>
                        <th scope="col" style="width: 50%">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Start Date</td>
                            <td>{{ .configdata.StartDate }}</td>
                        </tr>
                        <tr>
                            <td>Gin-Gonic Mode</td>
                            <td>{{ .configdata.GinMode }}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

{{ template "footer" .}}

{{ end }}
