{{ define "switch.page.tmpl" }}

{{ template "header" .}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Radio Status Service - Switch Page</h1>
            </div>
        </div>
    </div>


{{ template "footer" .}}

{{end}}
