{{ define "switch.page.tmpl" }}

{{ template "header" .}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Radio Status Service - Switch Page</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {{range .configdata.GpioOuts}}
          <p>
          <form id="ksaction">
            <input type="submit" value="{{.}}" name="{{.}}" />
          </form>
          </p>
        {{end}}
    </div>

{{ template "footer" .}}

{{end}}
