{{ define "switch.page.tmpl" }}

{{ template "header" .}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Radio Status Service - Switch Page</h1>
            </div>
        </div>
    </div>
    <div class="container">
        {{range .configdata.GpioOuts}}
        <p>
          <form action="" method="POST" onsubmit="return false">
                <input type="submit" id="{{.}}" value="{{.}}" onclick="submitForm(this.id)" />
          </form>
        </p>
        {{end}}
    </div>

{{ template "footer" .}}

{{end}}
